header {
background-color: rgb(243, 131, 196);
color: #030303;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}

h1{
    color: rgb(180, 28, 28);
}

main {
background-color: rgb(162, 162, 236);
color: #030303;
max-width: 800px;
margin: 0 auto;
padding: 16px;
display: flex;
}

img{
    width: 150px;
    height: 150px;
    bor
}